In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
os.chdir("D:/ibi/IBI1_2022-23/Practical7")

In [3]:
os.getcwd()

'D:\\ibi\\IBI1_2022-23\\Practical7'

In [4]:
covid_data = pd.read_csv("full_data.csv")

In [5]:
covid_data.head(5)

         date     location  new_cases  new_deaths  total_cases  total_deaths
0  2019-12-31  Afghanistan          0           0            0             0
1  2020-01-01  Afghanistan          0           0            0             0
2  2020-01-02  Afghanistan          0           0            0             0
3  2020-01-03  Afghanistan          0           0            0             0
4  2020-01-04  Afghanistan          0           0            0             0

In [6]:
covid_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7996 entries, 0 to 7995
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          7996 non-null   object
 1   location      7996 non-null   object
 2   new_cases     7996 non-null   int64
 3   new_deaths    7996 non-null   int64
 4   total_cases   7996 non-null   int64
 5   total_deaths  7996 non-null   int64
dtypes: int64(4), object(2)
memory usage: 374.9+ KB

In [7]:
covid_data.describe()

          new_cases   new_deaths    total_cases  total_deaths
count   7996.000000  7996.000000    7996.000000   7996.000000
mean     194.546773     9.322661    2441.369060     97.977239
std     2083.395028   108.183439   22375.617031   1023.038977
min       -9.000000     0.000000       0.000000      0.000000
25%        0.000000     0.000000       0.000000      0.000000
50%        0.000000     0.000000       3.000000      0.000000
75%        8.000000     0.000000      60.000000      0.000000
max    65162.000000  3698.000000  777798.000000  37272.000000

In [8]:
covid_data.iloc[2, 0:5]

date            2020-01-02
location       Afghanistan
new_cases                0
new_deaths               0
total_cases              0
Name: 2, dtype: object

In [9]:
covid_data.iloc[0:2, :]

         date     location  new_cases  new_deaths  total_cases  total_deaths
0  2019-12-31  Afghanistan          0           0            0             0
1  2020-01-01  Afghanistan          0           0            0             0

In [10]:
covid_data.iloc[0:10:2, 0:5]

         date     location  new_cases  new_deaths  total_cases
0  2019-12-31  Afghanistan          0           0            0
2  2020-01-02  Afghanistan          0           0            0
4  2020-01-04  Afghanistan          0           0            0
6  2020-01-06  Afghanistan          0           0            0
8  2020-01-08  Afghanistan          0           0            0

In [11]:
my_columns = [True, True, False, True, False, False]
covid_data.iloc[0:3,my_columns]

         date     location  new_deaths
0  2019-12-31  Afghanistan           0
1  2020-01-01  Afghanistan           0
2  2020-01-02  Afghanistan           0

In [12]:
covid_data.loc[2:4,"date"]

2    2020-01-02
3    2020-01-03
4    2020-01-04
Name: date, dtype: object

In [13]:
covid_data.loc[:,"date"]

0       2019-12-31
1       2020-01-01
2       2020-01-02
3       2020-01-03
4       2020-01-04
           ...
7991    2020-03-27
7992    2020-03-28
7993    2020-03-29
7994    2020-03-30
7995    2020-03-31
Name: date, Length: 7996, dtype: object

In [14]:
boolean_list = list()
for i in covid_data.loc[:,"location"]:
    if i == "Afghanistan":
        boolean_list.append(True)
    else:
        boolean_list.append(False)
covid_data.loc[boolean_list, "total_cases"]

0       0
1       0
2       0
3       0
4       0
     ...
77     75
78     91
79    106
80    114
81    141
Name: total_cases, Length: 82, dtype: int64

In [15]:
covid_data.loc[0:81,"total_cases"]

0       0
1       0
2       0
3       0
4       0
     ...
77     75
78     91
79    106
80    114
81    141
Name: total_cases, Length: 82, dtype: int64

In [16]:
covid_data.loc[covid_data.location == "Afghanistan","total_cases"]

0       0
1       0
2       0
3       0
4       0
     ...
77     75
78     91
79    106
80    114
81    141
Name: total_cases, Length: 82, dtype: int64

get help from https://blog.csdn.net/weixin_48964486/article/details/123152309

In [21]:
covid_data.loc[covid_data.date == "2020-03-31",["location","new_cases","new_deaths"]]

         location  new_cases  new_deaths
81    Afghanistan         27           0
104       Albania         11           2
191       Algeria         57           2
209       Andorra         36           2
219        Angola          0           0
...           ...        ...         ...
7791    Venezuela         16           2
7879      Vietnam          1           0
7971        World      62445        3698
7984       Zambia          6           0
7995     Zimbabwe          0           0

[195 rows x 3 columns]

In [23]:
np.mean(covid_data.loc[covid_data.date == "2020-03-31",["new_cases","new_deaths"]])

C:\Users\zhu pinglei\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\numpy\core\fromnumeric.py:3462: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

new_cases     640.461538
new_deaths     37.928205
dtype: float64